@using DreamServe.Models
@model IEnumerable<AdminModel>
@{
    ViewData["Title"] = "FindaJobs";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<main>

    <!-- Hero Area Start-->
    <div class="slider-area ">
@*        <div class="single-slider section-overly slider-height2 d-flex align-items-center" data-background="assets/img/hero/about1.jpg">
*@            <div class="single-slider section-overly slider-height2 d-flex align-items-center"
                 style="background-image: url('@Url.Content("~/assets/img/hero/about1.jpg")')">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2>Get your job</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Area End -->
    <!-- Job List Area Start -->






    <div class="row justify-content-center">
        <div class="col-xl-10">
            <!-- single-job-content -->
            <!-- single-job-content -->
            @foreach (AdminModel item in Model)
            {
                @*
            <asp:Repeater ID="Repeater1" runat="server">
            <ItemTemplate>*@
                <div class="single-job-items mb-30">
                    <div class="job-items">
                        <div class="company-img">
                            <a href='@item.applylink' target="_blank">
                                <img src="@item.companyImageUrl" height="214px" width="157px" />
                                </a>



                        </div>
                        <div class="job-tittle">
                            <a href='@item.applylink' target="_blank"><h4>@item.jobTitle</h4></a>
                            <ul>
                                <li>@item.companyname</li>
                                <li>@item.jobTitle</li>
                                <li>@item.inputDate</li>
                            </ul>
                        </div>
                    </div>
                    <div class="items-link f-right">
                        &nbsp;<a href='@item.applylink' target="_blank"> Apply Link</a>
                        <span>7 hours ago</span>
                    </div>
                </div>

                @*  </ItemTemplate>*@






            }




        </div>

    </div>

</main>